body {
	padding: 2rem;
}

nav {
	width: auto;
	text-align: center;
	padding: 15px 0;
}

nav div.btn-group {
	margin: auto;
}

nav div.btn-group a {
	color: #337AB7;
}

nav div.btn-group a:hover,
nav div.btn-group a:focus  {
	color: #23527C;
	background-color: #EEE;
	border-color: #DDD;
}

nav div.btn-group a.active {
	z-index: 2;
	color: #FFF;
	cursor: default;
	background-color: #337AB7;
	border-color: #337AB7;
}

#map-canvas {
	height: 900px;
	background-color: #d3d3d3;
}

.ajax-loader {
	margin-top: 217px;
}

#trafficMessages {
	list-style: none;
}

.trafficMessage h2 {
	font-size: 16px;
	font-weight: bold;
}

.paginationDiv {
	width: 100%;
	text-align: center;
}

.jp-invisible { 
	visibility: hidden !important; 
}
	
.jp-hidden { 
	display: none !important; 
}

a.jp-current {
	border-color: #337AB7;
	background-color: #337AB7;
	color: #FFF;
	cursor: default;	
}
