<IfModule mod_headers.c>
	ExpiresActive On	
	Header unset ETag
    FileETag None
    Header unset Pragma
	
	<FilesMatch "\\.(ico|jpg|png|gif|css|js|ttf|eot|pdf)$">
        ExpiresDefault "access plus 10 year"
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>